// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include "includes/behaviors.dtsi"

#define BASE_L 0
#define NUM_LOCK_L 1
#define SYM_L 2
#define NAV_NUM_L 3
#define FN_L 4

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            &kp Q      &kp W      &kp F      &kp P      &kp B          &kp J      &kp L      &kp U      &kp Y      &kp SEMI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            &kp A      &hml LGUI R &hml LCTRL S &hml LALT T &kp G     &kp M      &hmr LALT N &hmr RCTRL E &hmr RGUI I &kp O
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            &kp Z      &kp X      &kp C      &kp D      &kp V          &kp K      &kp H      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                         &sk LSHFT  &lt NAV_NUM_L BSPC    &lt NAV_NUM_L SPACE  &lt SYM_L TAB
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        num_lock_layer {
            display-name = "NumLock";
            bindings = <
            &kp ESC    &kp HOME   &kp UP     &kp END    &kp PG_UP      &to BASE_L  &kp N7     &kp N8     &kp N9     &kp FSLH
            &kp EQUAL  &kp LEFT   &kp DOWN   &kp RIGHT  &kp PG_DN      &kp MINUS   &kp N4     &kp N5     &kp N6     &kp N0
            &kp DLLR   &kp COLON  &kp STAR   &kp PLUS   &kp PRCNT      &kp COMMA   &kp N1     &kp N2     &kp N3     &kp DOT
                                             &sk LSHFT  &lt NAV_NUM_L BSPC    &lt NAV_NUM_L SPACE  &lt SYM_L TAB
            >;
        };

        symbols_layer {
            display-name = "Symbols";
            bindings = <
            &kp CARET  &kp LT     &kp GT     &kp DLLR   &kp PRCNT      &kp AT      &kp AMPS   &kp STAR   &kp SQT    &kp GRAVE
            &kp LBRC   &kp LPAR   &kp RPAR   &kp RBRC   &kp EQUAL      &kp BSLH    &kp PLUS   &kp MINUS  &kp FSLH   &kp DQT
            &kp TILDE  &kp LBKT   &kp RBKT   &kp UNDER  &kp HASH       &kp PIPE    &kp EXCL   &kp SEMI   &kp COLON  &kp QMARK
                                             &trans     &trans             &trans       &trans
            >;
        };

        nav_num_layer {
            display-name = "NavNum";
            bindings = <
            &kp LC(W)  &kp HOME   &kp UP     &kp END    &kp PG_UP      &to NUM_LOCK_L  &kp N7     &kp N8     &kp N9     &kp FSLH
            &kp LC(A)  &kp LEFT   &kp DOWN   &kp RIGHT  &kp PG_DN      &kp MINUS        &kp N4     &kp N5     &kp N6     &kp N0
            &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(Y)      &kp COMMA        &kp N1     &kp N2     &kp N3     &kp DOT
                                             &trans     &sc FN_L DEL       &sc FN_L LS(SPACE)  &trans
            >;
        };

        fn_layer {
            display-name = "Fn";
            bindings = <
            &kp F1     &kp F2     &kp F3     &kp F4     &kp F13        &bt BT_SEL 2  &kp C_NEXT   &kp C_VOL_UP  &kp C_BRI_UP  &kp SLCK
            &kp F5     &kp F6     &kp F7     &kp F8     &kp F14        &bt_sel1_clr  &fnhrm LALT C_PP  &fnhrm LCTRL C_MUTE  &fnhrm LGUI C_AL_LOCK  &fnhrm LSHIFT PSCRN
            &kp F9     &kp F10    &kp F11    &kp F12    &kp F15        &bt BT_SEL 0  &kp C_PREV   &kp C_VOL_DN  &kp C_BRI_DN  &kp INS
                                             &trans     &bootloader        &sys_reset     &studio_unlock
            >;
        };
    };

    combos {
        compatible = "zmk,combos";

        //     0  1  2  3  4     5  6  7  8  9
        //     10 11 12 13 14    15 16 17 18 19
        //     20 21 22 23 24    25 26 27 28 29
        //              30 31    32 33
        combo_caps_word {
            timeout-ms = <40>;
            key-positions = <20 29>;
            bindings = <&caps_word>;
            require-prior-idle-ms = <200>;
        };

        combo_escape {
            timeout-ms = <90>;
            key-positions = <22 21>;
            bindings = <&kp ESC>;
            require-prior-idle-ms = <50>;
        };

        combo_enter {
            timeout-ms = <120>;
            key-positions = <27 28>;
            bindings = <&kp ENTER>;
            require-prior-idle-ms = <50>;
        };
    };
};
