config SHIELD_DOKODEMO_LEFT
    def_bool $(shields_list_contains,dokodemo_left)
  
config SHIELD_DOKODEMO_RIGHT
    def_bool $(shields_list_contains,dokodemo_right)
  
config SHIELD_DOKODEMO_DONGLE
    def_bool $(shields_list_contains,dokodemo_dongle)
